@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

body {
	font-family: 'Readex Pro', sans-serif;
	font-size: 16px;

	padding: 0px;
	margin: 0px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
